/bower_components/
/node_modules/
/.pulp-cache/
/output/
/generated-docs/
/halogen-example/bower_components/
/halogen-example/output/
/halogen-example/.psc-ide-port
/halogen-example/dist/fileio.js
/halogen-example/.spago/
/.psc*
/.purs*
/.psa*
/.spago/
